#!/bin/sh
#
set -e
#
sysctl net.inet.gre.allow=1

{% for intf in netlab_interfaces if intf.tunnel.mode|default('') in ['gre'] %}
{%   set af = intf.tunnel.af|default('ipv4') %}
{%   if af != "ipv6" %}
ifconfig {{ intf.ifname }} tunnel {{ intf.tunnel._source[af] }} {{ intf.tunnel._destination[af] }}
{%   else %}
ifconfig {{ intf.ifname }} tunnel {{ intf.tunnel._source[af] }} {{ intf.tunnel._destination[af] }}
{%   endif %}
ifconfig {{ intf.ifname }} tunnelttl 255 up
{% endfor %}
exit 0
